<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex | Alakazam</title>
    <link rel="shortcut icon" href="../img/alakazam.png" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

    <style>
        body {
            background-color: bisque;
            font-family: 'Press Start 2P', cursive;
        }
    </style>
</head>

<body>
    <h1>Alakazam</h1>
    <img src="../img/alakazam.png" alt="alakazam">
    <p>tipo: <span style=" color:white ;background-color: palevioletred; padding: 3px; border-radius: 5px">psíquico</span>
        <br><br>
        <p>Descripción:</p>
        <p>Alakazam es un Pokémon tipo psíquico, que se caracteriza por tener un gran poder mental. Posee dos cucharas, una en cada mano, que aumentan sus poderes psíquicos. A diferencia de su preevolución Kadabra, Alakazam tiene dos cucharas en vez de una.
            En el anime, Alakazam crea los ataques con sus cucharas y después ataca al enemigo.<br><br> El cerebro de este Pokémon nunca deja de crecer y el número de neuronas no deja de aumentar, por ello le cuesta sostener el peso de la cabeza, para
            hacerlo utiliza sus poderes psicoquinéticos.<br><br> Alakazam puede llegar a vivir mucho tiempo a causa de lo que sucede con las neuronas explicado anteriormente, y de esa forma es como conoce muchos datos históricos. Su cociente intelectual
            puede llegar a más de 5.000 puntos. Tiene archivado en su memoria todo lo que ha ocurrido en el mundo desde su nacimiento. Cerrando sus ojos aumenta sus demás sentidos, lo que le permite utilizar sus habilidades al máximo.<br><br> A este Pokémon
            no le gustan los ataques físicos, prefiere hacer uso de sus poderes extrasensoriales cuando lucha. Alakazam, a diferencia de lo común, pesa menos que su preevolución Kadabra.</p>

        <a style="text-decoration: none;" href="../index.html">
            <h1 style="text-align: center; color:darkslateblue;">INICIO</h1>>
        </a>
</body>

</html>