<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex | Mewtwo</title>
    <link rel="shortcut icon" href="../img/mewtwo.png" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>

<body style="font-family: 'Press Start 2P', cursive;">
    <h1>Mewtwo</h1>
    <img style=width:30% src="../img/mewtwo.png" alt="mewtwo">
    <p>tipo: <span style=" color:white ;background-color: palevioletred; padding: 3px; border-radius: 5px">psíquico</span> <span style=" color:white ;background-color: darkred; padding: 3px; border-radius: 5px">lucha</span></p>
</body>

</html>