<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex | Mewtwo</title>
    <link rel="shortcut icon" href="../img/mewtwo.png" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

    <style>
        body {
            background-color: bisque;
            font-family: 'Press Start 2P', cursive;
        }
    </style>
</head>

<body>
    <h1>Mewtwo</h1>
    <img style=width:30% src="../img/mewtwo.png" alt="mewtwo">
    <p>tipo: <span style=" color:white ;background-color: palevioletred; padding: 3px; border-radius: 5px">psíquico</span> <span style=" color:white ;background-color: darkred; padding: 3px; border-radius: 5px">lucha</span></p>
    <br>
    <p>Descripción:</p>
    <p>Mewtwo es el resultado de las ambiciones de los seres humanos en la creación de una reproducción genéticamente realzada (o más bien mejorada) de Mew.<br><br> Es uno de los primeros Pokémon creados por la ciencia. Los científicos que lo crearon soñaron
        con crear al Pokémon más fuerte del mundo, y según el Dr. Fuji lo lograron. Se considera único, debido al hecho de que solo uno fue genéticamente creado.<br><br> En la película 16 se revela la creación de otro Mewtwo, llevada a cabo por unos científicos
        desconocidos, el cual tiene la capacidad de megaevolucionar por sí mismo.</p>
    <a style="text-decoration: none;" href="../index.html">
        <h1 style="text-align: center; color:darkslateblue;">INICIO</h1>>
    </a>
</body>

</html>